<section class="column column-33 column-offset-33 modal" id="test">
  <section class="row row-center">
    <form class="column">
      <fieldset class="login-form">
        <h2 class="center">Las Chismosas</h2>
        <p>The title tells it all... We are here to spill the tea, talk about
          the rumors and mind the business that is not ours. Why?? Because
          everyone is secretly nosey at heart and that is the heart we LIVE for.</p>
        <p class="center">Check us out on Spotify:</p>
       <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/1ZVxubPTWvHoUaS3DhBLeb?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </fieldset>
    </form>
  </section>
</section>