 <section class="row row-center">
    <form class="column">
  <fieldset class="signup-form">
    <h2 class="center"> Submit some Gossip!</h2>
    <label for="nameField">Title</label>
    <input type="text" placeholder="A good label for this story" id="titleField">
     <label for="nameField">Story</label>
    <input type="text" placeholder="All the juicy details" id="storyField">
    <label for="emailField">Source</label>
    <input type="text" placeholder="reddit, first-hand, friend, etc" id="sourceField">
      <label for="userField">Anonymous</label>
    <input type="checkbox" placeholder="" id="userField">
  </fieldset>
</form>
</section>
 <nav class="row ">
    <div class="column column-20"> </div>
        <button type="button" id= "gossipForm" class="column column-60">Submit</button>
    <div class="column column-20"> </div>
</nav>
   <script src="/js/gossip.js"></script>