<sectioncl id="gossip">
 <section class="column column-5 column-offset-15"> </section>
      <section class="SignUp column column-20 column-offset-5 splash"> 
      </section>
      <section class="column column-5 column-offset-5"> </section>

</section>

    <script src="/js/post.js"></script>