<section class="row row-center">
    <form class="column">
  <fieldset class="signup-form">
    <h2 class="center"> Sign Up</h2>
    <label for="nameField">Name</label>
    <input type="text" placeholder="Eulalie Shinn" id="nameField">
    <label for="emailField">Email</label>
    <input type="text" placeholder="pickalittle@email.com" id="emailField">
      <label for="passField">Password</label>
    <input type="password" placeholder="" id="passField">
  </fieldset>
</form>
</section>
 <nav class="row ">
    <div class="column column-20"> </div>
    <button class="column column-20 signup-form">Sign Up</button>
    <div class="column column-20"> </div><a href="/login">
    <button class="column column-100" >Login</button></a>
    <div class="column column-20"> </div>
  </nav>

  <script src="/js/login.js"></script>