<section class="row row-center">
    <form class="column">
  <fieldset>
    <h2 class="center"> Sign Up</h2>
    <label for="user-signup">Name</label>
    <input type="text" placeholder="Eulalie Shinn" id="user-signup">
    <label for="email-signup">Email</label>
    <input type="text" placeholder="pickalittle@email.com" id="email-signup">
      <label for="password-signup">Password</label>
    <input type="password" placeholder="" id="password-signup">
</form>
</section>
 <nav class="row ">
    <div class="column column-40"> </div>
    <span class="pln">
</span><a class="button signup-form" href="#"><span class="pln">Submit</span></a><span class="pln">

    <div class="column column-40"> </div>
  </nav>

  <script src="/js/login.js"></script>