<section class="row row-center">
    <form class="column">
  <fieldset class="signup-form">
    <h2 class="center"> Sign Up</h2>
    <label for="userSignup">Name</label>
    <input type="text" placeholder="Eulalie Shinn" id="userSignup">
    <label for="emailSignup">Email</label>
    <input type="text" placeholder="pickalittle@email.com" id="emailSignup">
      <label for="passwordSignup">Password</label>
    <input type="password" placeholder="" id="passwordSignup">
    <label for="nameField">Name</label>
    <input type="text" placeholder="Eulalie Shinn" id="nameField">
    <label for="emailField">Email</label>
    <input type="text" placeholder="pickalittle@email.com" id="emailField">
      <label for="passField">Password</label>
    <input type="password" placeholder="" id="passField">
  </fieldset>
</form>
</section>
 <nav class="row ">
    <div class="column column-20"> </div>
    <button id= "signUpForm" class="column column-60">Submit</button>
    <div class="column column-20"> </div>
  </nav>
  </form>


   <script src="/js/login.js"></script>