<section class="row row-center">
  <form class="column" id="login-form">
    <fieldset class="login-form">
      <h2 class="center">Log in</h2>
      <label for="emailField">Email</label>
      <input type="text" placeholder="pickalittle@email.com" id="emailField" />
      <label for="passField">Password</label>
      <input type="password" placeholder="" id="passField" />
    </fieldset>
    <button id="login-btn" class="column column-60 column-offset-20 btn btn-primary" type="submit">Login</button>
  </form>
</section>

<script src="/js/login.js"></script>