<section class="row row-center">
    <form class="column">
  <fieldset>
    <h2 class="center"> Log in</h2>
    <label for="emailField">Email</label>
    <input type="text" placeholder="pickalittle@email.com" id="emailField">
      <label for="passField">Password</label>
    <input type="password" placeholder="" id="passField">
</form>
</section>
 <nav class="row form login-form">
    <div class="column column-20"> </div>
    <form class="column login-form" id="login-form">
    <button class="column column-60 btn btn-primary" type="submit">Login</button>
    </form>
    <div class="column column-20"> </div>
  </nav>

<script src="/js/login.js"></script>
