<section class="row row-center">
  <form class="column">
    <fieldset class="login-form">
      <h2 class="center"> Log in</h2>
      <label for="emailField">Email</label>
      <input type="text" placeholder="pickalittle@email.com" id="emailField" />
      <label for="passField">Password</label>
      <input type="password" placeholder="" id="passField" />
    </fieldset>
  </form>
</section>
<nav class="row">
  <div class="column column-20"></div>
    <button id="login-form" class="column column-60 btn btn-primary" type="submit">
      Login</button>
   <div class="column column-20"> </div>
</nav>

<script src="/js/login.js"></script>